<nav class="navbar navbar-expand-md navbar-light  fixed-top sidebarNavigation">
<h3><a style="color: #3CB371;font-size:100%;cursor:pointer;" class="nav-link" routerLink="/"><span style="font-family: 'Righteous', Sans Serif;">Exam</span><span style="color:black;">Automata</span></a></h3>
      <button class="navbar-toggler leftNavbarToggler"  type="button" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/exam" class="button2" >Exam</a>
          </li><br>
        </ul>
      </div>
    </nav><br><br>
